@{
    ViewData["Title"] = "jQuery";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-9">
        <h1>jQuery</h1>
        <button id="buttonGet" class="btn btn-primary">get</button>
        <button id="buttonPost" class="btn btn-secondary">post</button>
        <button id="buttonJson" class="btn btn-success">getJson</button>
        <button id="buttonLoad" class="btn btn-info">load</button>
        <button id="buttonAjax" class="btn btn-warning">ajax</button>
        <button id="buttonCors" class="btn btn-danger">cors</button>
        <div class="alert alert-dark mt-3 w-50" role="alert" id="divAlert">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('.col-3').load("@Url.Content("~/Home/Partail")");
        $('#buttonGet').click(function () {
            $.get("@Url.Content("~/Api/Index")", { "name": "Jack" }, function (data) {
                $(`#divAlert`).html(`<h3>${data}</h3>`);
            })
        })
        $('#buttonPost').click(function () {
            $.post("@Url.Content("~/Api/Index")", { "name": "Mike" }, function (data) {
                $(`#divAlert`).html(`<h3>${data}</h3>`);
            })
        })
        $('#buttonJson').click(function () {
            $.getJSON("@Url.Content("~/Api/Site")", { "City": "新北市" }, function (data) {
                console.log(data);
                const docfg = $(document.createDocumentFragment());
                $.each(data, function (a, c) {
                    docfg.append($(`<h3>${c.siteId}</h3>`));
                })
                $(`#divAlert`).html(docfg);
            })
        })
        $('#buttonLoad').click(function () {
            $('.col-3').load("@Url.Content("~/Home/Partail")");
        })
        $('#buttonAjax').click(function () {
            $.ajax({
                url: "@Url.Content("~/Api/Site")",
                type:"post",
                data:{"City":"新北市"},
                dataType:"json"
            }).done(function(data){
                console.log(data);
                const docfg = $(document.createDocumentFragment());
                $.each(data, function (a, c) {
                    docfg.append($(`<h3>${c.siteId}</h3>`));
                })
                $(`#divAlert`).html(docfg);
            });
            //$('#divAlert').text("AJAX")
        })
        $('#buttonCors').click(function () {
            $('#divAlert').text("CORs")
        })

    </script>
}